:root {
  --grey: rgb(44, 43, 43);
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  list-style: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}


.section {
  /*   margin-top: 2rem; */
  padding: 2rem 9%;
}

/* navbar css starts here */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0.0, 0, .1);
  background-color: var(--grey);
}

.nav-links a {
  color: #fff;
  font-size: 2rem;
  padding: 0 1.5rem;
}

/* LOGO */
.logo {
  font-size: 3rem;
  font-weight: bolder;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(168, 161, 161);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}


input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 3rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0, 0, 0, .3);
  user-select: none;
}

/* navbar css ends here */

section {
  padding: 4.9rem 0%;
}

.header

/* header section for home page starts here */
.context {
  width: 100%;
  position: absolute;
  top: 20vh;
  font-family: var(--font);
}

.context .p {
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area {
  background: var(--grey);
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 50vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.reveal-container {
  position: relative;
  overflow: hidden;
}

.reveal-text {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  position: relative;
  opacity: 0;
  animation: revealDisappear 4s infinite;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

/* about section starts here */
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, .05);
}

.heading span{
  color: var(--grey);
}

.about .row{
  display: flex;
 /*  align-items: center; */

  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .image-container{
  flex: 1 1 40rem;
  position: relative;
}
.about .row .image-container img{
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0.0, 0, .1);
  height: 100%;
  object-fit: cover;
}
.about .row .image-container h3 {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  /* mix-blend-mode: screen; */
}
.about .row .content {
  flex: 1 1 40rem;
  /* background-color: blue; */
}
.about .row .content h3 {
  font-size: 3rem;
  color: #333;
  display: flex;
  justify-content: center;
}
.about .row .content .content-main{
  display: flex;
  padding: 10px;
}
.about .row .content .content-frame{
  width: 50%;
}

.about .row .content .content-frame .logo-icon{
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 25rem;
  background: #fff;
}
.about .row .content .content-frame .logo-icon img{
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}
.about .row .content .content-language{
  width: 50%;
  background-color: orange;
}
.about .row .content .content-language .logo-icon{
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 25rem;
  background: #fff;
}
.about .row .content .content-language .logo-icon img{
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding-top: 1rem;
  line-height: 1.5;
}

.about .row .content .content-other{
  padding:0 10px;
}
.about .row .content .content-other .other{
  width: 100%;
  display: flex;
}

.about .row .content .content-other .other .logo-icon{
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 25rem;
  background: #fff;
}

.about .row .content .content-other .other .logo-icon img{
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}

/* about section ends here */

.about-icons {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-icons .icon {
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 16rem;
}

.about-icons .icon img {
  height: 7rem;
  margin-right: 1rem;
}

.about-icons .icon p {
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.about-icons .icon span {
  color: #555;
  font-size: .8rem;
}

/* header section for home page ends here */


/* frames to animate the header section  starts here*/

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

/* frames to animate the header section  ends here*/

/* frames to animate the text appearing and disapering starts here*/
@keyframes revealDisappear {

  0%,
  100% {
    opacity: 0;
    transform: translateY(100%);
  }

  25%,
  75% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* frames to animate the text appearing and disapering ends here*/

/* frames to animate the hand wave starts here*/

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}

/* frames to animate the hand wave ends here*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    border-top: .1rem solid rgba(0.0, 0, .1);
    background-color: var(--grey);
    right: 0;
    left: 0;
    top: 100%;
    text-align: center;
    /* padding: 16px 0; */
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(168, 161, 161);
    transition: 0.3s ease;
  }

  .menu li {
    margin: 1.5rem;
    padding: 1.5rem;
    border: .1rem solid rgba(0.0, 0, .1);
    display: block;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

}