:root {
  --grey: rgb(26, 25, 25);
  --font: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--grey);
  color: #fff;
}
.navbar-logo{
  font-size: 32px;
}
.navlinks .a{
  color: #fff;
}
.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover{
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li{
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
} 
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

section {
  padding: 3.5rem 2%;
}

.home {
  width: 100%;
  display: flex;
}

.home-left {
  width: 50%;
}

.home-left h2 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  word-spacing: 10%;
}

.home-left-head {
  display: flex;
  margin-top: 10px;
}

.home-left-head-desc {
  /*   background-color: blue; */
  display: flex;
  align-items: center;
  width: 30%;
  font-size: 20px;
}

.home-left-head-gif {
  /* background-color: red; */
  width: 70%;
  height: 30px;
}

.home-left-head-gif-gif {
  position: absolute;
  top: 17.5%;
  -webkit-animation: fadeslideUp 12s infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  -moz-animation: fadeslideUp 12s infinite;
  /* Fx 5+ */
  -o-animation: fadeslideUp 12s infinite;
  /* Opera 12+ */
  animation: fadeslideUp 12s infinite;
}

.home-left-head-gif-gif h4 {
  text-align: center;
  /*  background-color: blue; */
  font-size: 22px;
}

#gif2 {
  animation-delay: -9s;
  -webkit-animation-delay: -9s;
}

#gif3 {
  animation-delay: -6s;
  -webkit-animation-delay: -6s;
}

#gif4 {
  animation-delay: -3s;
  -webkit-animation-delay: -3s;
}

@-webkit-keyframes fadeslideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(-60%);
  }

  25% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
  }
}

@-moz-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@-o-keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(-40%);
    -ms-transform: translateY(-40%);
  }

  10% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  20% {
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  25% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }

  100% {
    opacity: 0;
    transform: translateY(-60%);
    -ms-transform: translateY(-60%);
  }
}

@media (max-width: 768px) {
  .menu {
     display:none;
     position: absolute;
     background-color:var(--grey);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
   }
 
   .menu li:hover {
     display: inline-block;
     background-color:#4c9e9e;
     transition: 0.3s ease;
   }
 
   .menu li + li {
     margin-top: 12px;
   }
 
   input[type=checkbox]:checked ~ .menu {
     display: block;
   }
 
   .hamburger {
     display: block;
   }
  } 