:root {
  --grey: rgb(44, 43, 43);
  --font:"Times New Roman", Times, serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/* navbar css starts here */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--grey);
  color: #fff;
  font-family: var(--font);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.navbar-logo{
  font-size: 34px;
  color: rgb(63, 17, 63);
}
.navbar-body{
  width: 30%;
}
.a{
  color:rgb(146, 13, 146);
}
.menu{
  display: flex;
  gap: 3em;
  font-size: 18px;
}
.menu li:hover{
  background-color:white;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li{
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
} 
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* navbar css ends here */

section {
  padding: 4.9rem 0%;
}
.header
/* header section for home page starts here */
.context {
  width: 100%;
  position: absolute;
  top: 20vh;
  font-family: var(--font);
}

.context .p{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  background: var(--grey);  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:50vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.reveal-container {
  position: relative;
  overflow: hidden;
}

.reveal-text {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  position: relative;
  opacity: 0;
  animation: revealDisappear 4s infinite;
}

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
.name{
  color: purple;
}
.div-button{
  display: flex;
  justify-content: center;
}
.button{
  padding: 10px 16px;
  background-color: red;
}
.button:hover{
  background-color: #3498db;
}
.about-icons{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-icons .icon{
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 16rem;
}

.about-icons .icon img{
  height: 7rem;
  margin-right: 1rem;
}

.about-icons .icon p{
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}
.about-icons .icon span{
  color: #555;
  font-size: .8rem;
}
/* header section for home page ends here */


/* frames to animate the header section  starts here*/

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
/* frames to animate the header section  ends here*/

/* frames to animate the text appearing and disapering starts here*/
@keyframes revealDisappear {
  0%, 100% {
    opacity: 0;
    transform: translateY(100%);
  }
  25%, 75% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* frames to animate the text appearing and disapering ends here*/

/* frames to animate the hand wave starts here*/

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

/* frames to animate the hand wave ends here*/

@media (max-width: 768px) {
  .menu {
     display:none;
     position: absolute;
     background-color:var(--grey);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
   }
 
   .menu li:hover {
     display: inline-block;
     background-color:#4c9e9e;
     transition: 0.3s ease;
   }
 
   .menu li + li {
     margin-top: 12px;
   }
 
   input[type=checkbox]:checked ~ .menu {
     display: block;
   }
 
   .hamburger {
     display: block;
   }
  } 