:root{
    --grey:rgb(26, 25, 25);
    --font: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   /*  background-color: var(--grey); */
    scroll-behavior: smooth;
    transition: .2s linear;
   /*  font-size: 99.5%; */
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    box-shadow: 0 .1rem 1rem rgb(146, 145, 145);
    padding: 0px 8px;
    background-color: var(--grey);
}

.navbar-logo{
    width: 100%;
    font-size: 2.5rem;
    font-weight: bolder;
}

.navbar-body{
    width: 100%;
    display: flex;
}
.navbar-body-work{
    width: 50%;
    display: flex;
    justify-content: center;
}
.navbar-body-contact{
    width: 50%;
}
section{
    padding: 3.5rem 2%;
}
.home{
    width: 100%;
    display: flex;
}

.home-left{
    width: 50%;
}
 .home-left h2{
    font-size: 25px;
    display: flex;
    justify-content: center;
      word-spacing: 10%;
}

/* .home-right{
    width: 50%;
    background-color: blue;
} */

