:root {
  --grey: rgb(44, 43, 43);
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  outline: none;
  border: none;
  text-decoration: none;
 /*  text-transform: capitalize; */
  list-style: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}


.section {
  padding: 2rem 9%;
}

/* navbar css starts here */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0.0, 0, .1);
  background-color: var(--grey);
}

.nav-links a {
  color: #fff;
  font-size: 2rem;
  padding: 0 1.5rem;
}

/* LOGO */
.logo {
  font-size: 3rem;
  font-weight: bolder;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(168, 161, 161);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}


input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 3rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0, 0, 0, .3);
  user-select: none;
}

/* navbar css ends here */

section {
  padding: 4.9rem 0%;
}

.header

/* header section for home page starts here */
.context {
  width: 100%;
  position: absolute;
  top: 20vh;
  font-family: var(--font);
}

.context .p {
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area {
  background: var(--grey);
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 50vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.reveal-container {
  position: relative;
  overflow: hidden;
}

.reveal-text {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  position: relative;
  opacity: 0;
  animation: revealDisappear 4s infinite;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

/* about section starts here */
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, .05);
  margin-top: 5rem;
}

.heading span {
  color: var(--grey);
}

.heading-web {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 1rem;
  margin: .5rem 0;
  background: rgba(255, 51, 153, .05);
  margin-top: .5rem;
}


/* icons section starts here */

.icons-container .icons-container-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icons-container .icon {
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 3rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icon img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icon h3 {
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icon span {
  color: #555;
  font-size: 1.5rem;
  text-transform: none;
  display: inline-block;
}

/* icons section ends here */

.heading-me {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, .05);
  margin-top: .5rem;
}

.about .row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .image-container {
  flex: 1 1 40rem;
  position: relative;
}

.about .row .image-container img {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0.0, 0, .1);
  height: 100%;
  object-fit: cover;
}

.about .row .image-container h3 {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.about .row .content {
  flex: 1 1 40rem;
  position: relative;

}

.about .row .content h3 {
  position: absolute;
  top: 0%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
}

.about .row .content {
  display: flex;
}

.about .row .content .content-left{
 /*  border: .1rem solid rgba(0, 0, 0, .1); */
  padding: 2rem .5rem;
  align-items: center;
  display: block;
  flex: 1 1 25rem;
}
.about .row .content .content-left .logo-icon{
  display: flex;
  margin: 1rem;
  align-items: center;
  border: .1rem solid rgba(0, 0, 0, .1);
}

.about .row .content .content-left .logo-icon img{
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}

.about .row .content .content-right{
 /*  border: .1rem solid rgba(0, 0, 0, .1); */
  padding: 2rem .5rem;
  align-items: center;
  flex: 1 1 25rem;
}
.about .row .content .content-right .logo-icon{
  display: flex;
  margin: 1rem;
  align-items: center;
  border: .1rem solid rgba(0, 0, 0, .1);
}
.about .row .content .content-right .logo-icon img{
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}

.about .row .content .logo-icon{
  font-size: 1.5rem;
  padding-top: 1rem;
  line-height: 1.5;
}

/*projects section starts here */

.project-row {
  margin: 8px -16px;
  font: var(--font);
  text-transform:none;
}
/* Add padding BETWEEN each column */
.project-row,
.project-row > .project-column {
  padding: 6px;
  
}

/* Create four equal columns that floats next to each other */
.project-row .project-column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */ 
.project-row:after {
  content: "";
  display: table;
  clear: both;
}

.project-column .project-contents {
  padding: 10px;
  display: flex;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-column .project-contents .project-image{
  width: 100%;
  }
  .project-column .project-contents .project-image img{
  width: 100%;
  }

  .project-column .project-contents .project-content{
    width: 100%;
  /*   background-color: blue; */
    display: flex;
    align-items: center;
    padding: 8px;
  }
  .project-column .project-contents .project-content .project-content-main h3{
      display: flex;
      justify-content: center;
      font-size: 16px;
  }
  .project-column .project-contents .project-content .project-content-main p{
    margin-top: 1rem;  
    font-size: 14px;
  }


/*projects section ends here */

/* contact section starts here */
.button {
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 60px;
  text-decoration: none;
  text-transform: uppercase;
}

input[type="email"],
input[type="text"]
{
  background: #f4f8f7;
  border: none;
  font-weight: 300;
  margin: 5px;
  padding: 10px;
  width: 280px;
}
.message-textarea{
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea{
  background: #f4f8f7;
  border: none;
  font-weight: 300;
  margin: 5px;
  padding: 10px;
  width: 280px;
}

.submit-btn {
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 20px;
  padding: 15px 50px;
  text-transform: uppercase;
}

#login .submit-btn {
  background: #3aa7b1;
}

#register .submit-btn {
  background: #3aaf9f;
}

#contacts-container {
  background: #ededed;
  border-radius: 10px;
  height: 550px;
  margin: 5% auto;
  overflow: hidden;
  width: 1000px;
  font-family: var(--font);
  font-size: 14px;
}

.social-login {
  border: 1px solid #ccc;
  border-radius: 50px;
  height: 15px;
  padding: 10px;
  width: 15px;
}

#login {
  background: #fff;
  float: left;
  height: 100%;
  position: relative;
  width: 50%;
  text-align: center;
  top: -550px;
  z-index: 1;
  border: .1rem solid rgba(0, 0, 0, .1);
}

#register {
  background: #fff;
  float: right;
  height: 100%;
  position: relative;
  width: 50%;
  text-align: center;
  top: -550px;
  z-index: 1;
  border: .1rem solid rgba(0, 0, 0, .1);
}

#login h1,
#register h1 {
  padding: 20% 0 25px;
}

#login h1 {
  color: #3aa7b1;
}

#register h1 {
  color: #3aaf9f;
}

#login p,
#register p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 20px;
}

#forgot-pass {
  border-bottom: 1px solid #ccc;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 3px;
  text-decoration: none;
}

#cover {
  background: #3aa7b1;
  color: #fff;
  height: 550px;
  margin: 0 0 0 50%;
  position: relative;
  text-align: center;
  transition: margin 0.7s, background 0.5s, display 1s, width 1s;
  width: 50%;
  z-index: 5;
}

#cover h1 {
  padding-top: 38%;
}

#cover p {
  font-weight: 300;
  line-height: 22px;
  padding: 30px 45px 40px;
}

.sign-in {
  display: none;
}

.sub {
  position: relative;
  top: -11px;
}

#cover:target {
  background: #3aaf9f;
  margin: 0;
}

#cover:target .sign-up {
  display: none;
}

#cover:target .sign-in {
  display: inline-block;
}

#cover:target .login-div {
  width: 35%;
}

#credit {
  color: #999;
  font-size: 14px;
}

/* contact section ends here */

/* 

.about .row .content .content-frame {
  width: 50%;
}


.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding-top: 1rem;
  line-height: 1.5;
}

.about .row .content .content-other {
  padding: 0 10px;
}

.about .row .content .content-other .other {
  width: 100%;
  display: flex;
}

.about .row .content .content-other .other .logo-icon {
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 25rem;
  background: #fff;
}

.about .row .content .content-other .other .logo-icon img {
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
} */


/* about section ends here */
/* .icons-container{
  background-color: blue;
}
.about{
  background-color: red;
}
 */

/* header section for home page ends here */


/* frames to animate the header section  starts here*/

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

/* frames to animate the header section  ends here*/

/* frames to animate the text appearing and disapering starts here*/
@keyframes revealDisappear {

  0%,
  100% {
    opacity: 0;
    transform: translateY(100%);
  }

  25%,
  75% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* frames to animate the text appearing and disapering ends here*/

/* frames to animate the hand wave starts here*/

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}

/* frames to animate the hand wave ends here*/

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    border-top: .1rem solid rgba(0.0, 0, .1);
    background-color: var(--grey);
    right: 0;
    left: 0;
    top: 100%;
    text-align: center;
    /* padding: 16px 0; */
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(168, 161, 161);
    transition: 0.3s ease;
  }

  .menu li {
    margin: 1.5rem;
    padding: 1.5rem;
    border: .1rem solid rgba(0.0, 0, .1);
    display: block;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .heading{
    font-size: 3rem;
  }
  .content{
    margin: 2rem 0;
  }
  .about .row .content{
    display: block;
  }
  .project-row .project-column{
    width: 100%;
  }
  .project-column .project-contents{
    flex-wrap: wrap-reverse;
  }
  .project-column .project-contents .project-image{
    padding-top: 2rem;
  }
  #contacts-container {
    width: 100%;
    margin: 0;
  }

  
}